---
{
    title: "Creating a Photoshop Layer Mask",
    description: 'There are so many different applications for Photoshop masks. Masks are a simple, non-destructive way to change the transparency of part of an image, allowing you to combine different photos into a collage or change the background without losing the data of the original image. You can easily change the settings for only the masked layer instead of adjusting the settings for the entire image. With Layer Masks, you use selection tools and brushes to achieve natural looking edges, as opposed to Vector Masks, which use the pen or shape tool for more defined edges.',
    slug: "creating-photoshop-layer-mask",
    tags: ["Photoshop"],
    hashtags: ["photoshop"],
    created: "2014-08-13"
}
---
<p class="post-content">
	There are so many different applications for Photoshop masks. Masks are a simple, non-destructive way to change the transparency of part of an image, allowing you to combine different photos into a collage or change the background without losing the data of the original image. You can easily change the settings for only the masked layer instead of adjusting the settings for the entire image. With Layer Masks, you use selection tools and brushes to achieve natural looking edges, as opposed to Vector Masks, which use the pen or shape tool for more defined edges.
</p>

<h3>How to Make a Layer Mask</h3>

<p class="post-content">
	In a new Photoshop document, open the image you want to mask. Since you can't make a mask on a background layer, right-click on the layer and either create a <strong>duplicate layer</strong>, or choose <strong>Layer from Background</strong>.
</p>
<p class="post-content">
	(I prefer to make a duplicate layer, and then un-check the layer visibility, so you have it available in case the layer you’re working on is compromised. This shouldn’t be a problem with masks, since you don't lose any data, but I like to have a duplicate whenever I work in Photoshop.)
</p>
<p class="post-content">
	Here's the original image of my cat, Fiddlesticks.
</p>
<img src="/static/build/img/blogimages/Fiddlesticks/fiddlesticks.jpg" alt="Cat in Box">
<p class="post-content">
	Use the <strong>Quick Selection Tool (W)</strong> and drag the cursor around to select parts of the image you want to separate out with your mask. To deselect, hold Alt and click on any parts of the image that you don’t want included. This tool is great when you're working with a mask; instead of just selecting pixels based on tone and color, it also selects based on similar textures in the image.
</p>
<img src="/static/build/img/blogimages/Fiddlesticks/fiddlesticks-selection.jpg" class="blog-image med" alt="Quick Selection Tool">
<p class="post-content">
	Go back to the layers panel and select <strong>Add Layer Mask</strong>. This will leave behind the part of the image you selected with the Quick Selection Tool.
</p>
<img src="/static/build/img/blogimages/Fiddlesticks/fiddlesticks-mask.jpg" class="blog-image med" alt="Layer Mask">
<p class="post-content">
	You’ll notice the edges will probably need to be cleaned up. With the mask part of the layer selected, go up to the menu and click <strong>Select > Refine Mask</strong>. You can change the color behind your image with the View Mode, depending on what works best to see the edges of your image.
</p>
<p class="post-content">
	Use <strong>Edge Detection Radius</strong> to adjust the edges of the mask, using a large radius for hard edges and a small radius for more detailed edges, and play around with the <strong>Refine Edge Tool (E)</strong> to manually smooth the edges of your image. You can also experiment with the different options of the <strong>Adjust Edge</strong> sliders.
</p>
<img src="/static/build/img/blogimages/Fiddlesticks/fiddlesticks-refine.jpg" class="blog-image med" alt="Fine Edge Tool">
<p class="post-content">
	After you’ve refined the edges of your mask, you can use the <strong>Brush Tool (B)</strong> to further adjust the edges. Use black to hide parts of the image and white to reveal. It's helpful here to have a solid color background, so you can add a layer under your mask layer and give it a solid color to help find edges that need correcting.
</p>
<p class="post-content">
	Adjust the settings of the brush tool as needed, including size, hardness, brush mode, opacity, and flow to achieve different results as you paint over the mask. I find it helpful to use keyboard shortcuts to change the size of the brush: the <strong>left bracket ([)</strong> decreases brush size and the <strong>right bracket (])</strong> increases size. 
</p>

<h3>Adding Backgrounds to the Mask</h3>

<p class="post-content">
	Once you’ve smoothed the edges of your mask, you're ready to add other photos to the background, or combine masked layers to make a collage.
</p>

<p class="post-content">
	Here's Fiddlesticks after she was dropped off by the mailman.
</p>
	<a href="/static/build/img/blogimages/Fiddlesticks/fiddlesticks3.jpg" target="blank">
		<img src="/static/build/img/blogimages/Fiddlesticks/fiddlesticks3.jpg" class="blog-image med" alt="Cat and Mail Truck">
	</a>
<p class="post-content">
	She also loves the great outdoors.
</p>
	<a href="/static/build/img/blogimages/Fiddlesticks/fiddlesticks-outdoors.jpg" target="blank">
		<img src="/static/build/img/blogimages/Fiddlesticks/fiddlesticks-outdoors.jpg" class="blog-image med" alt="Cat under arbor">
	</a>
<p class="post-content">
	And here's Fiddlesticks having an adventure at an active volcano!
</p>
	<a href="/static/build/img/blogimages/Fiddlesticks/fiddlesticks1.jpg" target="blank">
		<img src="/static/build/img/blogimages/Fiddlesticks/fiddlesticks1.jpg" class="blog-image med">
	</a>
<p class="post-content" alt="Cat and Volcano">
	Do you have any other good tips for creating a Layer Mask in Photoshop?
</p>