---
{
    title: "Creating Effects with Photoshop Blending Modes",
    description: 'A great, simple way to adjust photos is with Photoshop layer blending modes. You can dramatically change the look of a photo in four steps.',
    slug: "creating-effects-with-blending-modes",
    tags: ["Photoshop"],
    hashtags: ["photoshop"],
    created: "2014-12-2"
}
---
<p class="post-content">
	A great, simple way to adjust photos is with Photoshop layer blending modes. You can dramatically change the look of a photo in four steps.
</p>
<ol class="post-content">
	<li>1. Add a layer above your image layer (Command > Shift > N).</li>
	<li>2. Giving the new layer a fill color using the Paint Bucket Tool (G).</li>
	<li>3. Make sure the Move Tool (M) is selected, and hold Shift and use (+) and (-) to switch between blending modes in the Layers Panel. Use this to easily click through the blending modes to test them out.</li>
	<li>4. Find a blending mode that works with your fill color and image, and then adjust the opacity of the layer.</li>
</ol>
<div class="dis-tab">
<h3>My Original Image</h3>
	<a href="/static/build/img/blogimages/jpgs/normal.jpg"><img src="/static/build/img/blogimages/jpgs/normal.jpg" class="original" /></a>
<p class="post-content">
	Here are some examples of each blending mode available in Photoshop CS6. I won’t go into detail about what each blending mode does, but I do include the color of the new layer and the opacity the layer is set to so you have some idea of what is creating each effect.
</p>
<p class="post-content">
	Many different results are created, ranging from subtle to vivid, depending on the combination of color and blending mode. This is definitely a technique that benefits from experimentation, so get used to using the keyboard shortcuts so you can easily switch between modes.
</p>
	<h3 class="modes">Darken Modes (Make the Image Darker)</h3>
		<ol class="flex-container">
			<li>
				<a href="/static/build/img/blogimages/jpgs/darken.jpg">
					<img src="/static/build/img/blogimages/jpgs/darken.jpg" alt="Darken" />
					<div class="blend-mode">Darken <br> #EC0084 - 12%</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/multiply.jpg">
					<img src="/static/build/img/blogimages/jpgs/multiply.jpg" />
					<div class="blend-mode">Multiply <br> #2B3176 - 33%</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/colorburn.jpg">
					<img src="/static/build/img/blogimages/jpgs/colorburn.jpg" />
					<div class="blend-mode">Color Burn <br> #8E82BD - 53%</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/linearburn.jpg">
					<img src="/static/build/img/blogimages/jpgs/linearburn.jpg" />
					<div class="blend-mode">Linear Burn <br> #009BAF - 18%</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/darkercolor.jpg">
					<img src="/static/build/img/blogimages/jpgs/darkercolor.jpg" />
					<div class="blend-mode">Darker Color <br> #A2459A - 19%</div>
				</a>
			</li>
		</ol>
	<h3>Lighten Modes (Make the Image Lighter)</h3>
		<ol class="flex-container">
			<li>
				<a href="/static/build/img/blogimages/jpgs/lighten.jpg">
					<img src="/static/build/img/blogimages/jpgs/lighten.jpg" />
					<div class="blend-mode">Lighten <br> #D42B8E - 30%</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/screen.jpg">
					<img src="/static/build/img/blogimages/jpgs/screen.jpg" />
					<div class="blend-mode">Screen I<br> #590E0C - 100%</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/screen2.jpg">
					<img src="/static/build/img/blogimages/jpgs/screen2.jpg" />
					<div class="blend-mode">Screen II<br> #00B098 - 29%</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/colordodge.jpg">
					<img src="/static/build/img/blogimages/jpgs/colordodge.jpg" />
					<div class="blend-mode">Color Dodge <br> #D9E021 - 33%</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/lineardodge.jpg">
					<img src="/static/build/img/blogimages/jpgs/lineardodge.jpg" />
					<div class="blend-mode">Linear Dodge <br> #00679C - 32%</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/lightercolor.jpg">
					<img src="/static/build/img/blogimages/jpgs/lightercolor.jpg" />
					<div class="blend-mode">Lighter Color <br> #FCB770 - 18%</div>
				</a>
			</li>
		</ol>
	<h3>Contrast Modes (Darken and Lighten to Create Contrast)</h3>
		<ol class="flex-container">
			<li>
				<a href="/static/build/img/blogimages/jpgs/overlay.jpg">
					<img src="/static/build/img/blogimages/jpgs/overlay.jpg" />
					<div class="blend-mode">Overlay I<br> #FFFFFF - 28%</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/overlay2.jpg">
					<img src="/static/build/img/blogimages/jpgs/overlay2.jpg" />
					<div class="blend-mode">Overlay II<br> #000000 - 71%</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/softlight.jpg">
					<img src="/static/build/img/blogimages/jpgs/softlight.jpg" />
					<div class="blend-mode">Soft Light <br> #F47F61 - 66%</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/hardlight.jpg">
					<img src="/static/build/img/blogimages/jpgs/hardlight.jpg" />
					<div class="blend-mode">Hard Light <br> #EDC7DE - 37%</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/vividlight.jpg">
					<img src="/static/build/img/blogimages/jpgs/vividlight.jpg" />
					<div class="blend-mode">Vivid Light <br> #EDC7DE - 24%</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/linearlight.jpg">
					<img src="/static/build/img/blogimages/jpgs/linearlight.jpg" />
					<div class="blend-mode">Linear Light <br> #948632 - 26%</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/pinlight.jpg">
					<img src="/static/build/img/blogimages/jpgs/pinlight.jpg" />
					<div class="blend-mode">Pin Light <br> #7FA23E - 39%</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/hardmix.jpg">
					<img src="/static/build/img/blogimages/jpgs/hardmix.jpg" />
					<div class="blend-mode">Hard Mix <br> #9671B2 - 7%</div>
				</a>
			</li>
		</ol>
	<h3>Comparative Modes (Compare Pixels Between Layers)</h3>
		<ol class="flex-container">
			<li>
				<a href="/static/build/img/blogimages/jpgs/difference.jpg">
					<img src="/static/build/img/blogimages/jpgs/difference.jpg" />
					<div class="blend-mode">Difference<br> #120B36 - 67%</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/exclusion.jpg">
					<img src="/static/build/img/blogimages/jpgs/exclusion.jpg" />
					<div class="blend-mode">Exclusion <br> #A55825 - 34%</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/subtract.jpg">
					<img src="/static/build/img/blogimages/jpgs/subtract.jpg" />
					<div class="blend-mode">Subtract <br> #005830 - 34%</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/divide.jpg">
					<img src="/static/build/img/blogimages/jpgs/divide.jpg" />
					<div class="blend-mode">Divide <br> #007741 - 30%</div>
				</a>
			</li>
		</ol>
	<h3>Composite Modes (Affect Color and Luminosity)</h3>
	<ol class="flex-container">
		<li>
			<a href="/static/build/img/blogimages/jpgs/hue.jpg">
				<img src="/static/build/img/blogimages/jpgs/hue.jpg" />
				<div class="blend-mode">Hue <br> #FBBA99 - 45%</div>
			</a>
		</li>
		<li>
			<a href="/static/build/img/blogimages/jpgs/saturation.jpg">
				<img src="/static/build/img/blogimages/jpgs/saturation.jpg" />
				<div class="blend-mode">Saturation <br> #EF473F - 20%</div>
			</a>
		</li>
		<li>
			<a href="/static/build/img/blogimages/jpgs/color.jpg">
				<img src="/static/build/img/blogimages/jpgs/color.jpg" />
				<div class="blend-mode">Color <br> #F16791 - 26%</div>
			</a>
		</li>
		<li>
			<a href="/static/build/img/blogimages/jpgs/luminosity.jpg">
				<img src="/static/build/img/blogimages/jpgs/luminosity.jpg" />
				<div class="blend-mode">Luminosity <br> #53ABDF - 30%</div>
			</a>
		</li>
	</ol>
	</div>
<p class="post-content">
	I really liked the effect using Overlay with pure black or white. With black, and set to about 70% opacity, lots of other colors came out in the photo that weren’t as obvious in the original. The white overlay made the flowers bright white without washing out the rest of the photo, which seemed to happen with some of the other blending modes. 
</p>
<p class="post-content">
	Before I really experimented with blending modes, my favorites were Soft Light and Screen, which I love with pastel colors. There are so many great combinations, and it's really fun to add multiple layers, each with a different color and blending mode, to bring out new ranges of colors in your photos.
</p>
	<h3>Multiple Blending Mode Layers</h3>
	<div class="dis-tab">
		<ol class="flex-container">
			<li>
				<a href="/static/build/img/blogimages/jpgs/colorburn-screen.jpg">
					<img src="/static/build/img/blogimages/jpgs/colorburn-screen.jpg" />
					<div class="blend-mode">Color Burn and Screen <br> Screen #2965B0 - 100% <br>
					Color Burn #F58362 - 100%
					</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/vivid-linear.jpg">
					<img src="/static/build/img/blogimages/jpgs/vivid-linear.jpg" />
					<div class="blend-mode">Linear Burn and Vivid Light <br> Vivid Light #E696C1 - 50% <br>
					Linear Burn #732B90 - 20%
					</div>
				</a>
			</li>
			<li>
				<a href="/static/build/img/blogimages/jpgs/divide-lightercolor.jpg">
					<img src="/static/build/img/blogimages/jpgs/divide-lightercolor.jpg" />
					<div class="blend-mode">Lighter Color and Divide<br> Lighter Color #00673D - 56% <br>
					Divide #BAD86B - 50%
					</div>
				</a>
			</li>
		</ol>
	</div>
<p class="post-content">
	Try out a few different colors with each blending mode to see what cool things turn up!
</p>
<p class="post-content">
	Also, check out the <a href="http://helpx.adobe.com/photoshop/using/blending-modes.html" target="blank" rel="nofollow">Photoshop documentation</a> on descriptions and more information about each blending mode, as well as additional blending modes in newer versions.
</p>