---
{
    title: "Getting Started with Search Engine Optimization (SEO)",
    description: 'Once you have a website up and ready-to-go, the next step is getting it noticed by search engines and the people using them. <strong>Search Engine Optimization (SEO)</strong> may seem like a daunting thing to undertake on your own, but there are some simple ways you can start increasing your visibility through your content and code. This is a large area of discussion with many different opinions, especially since the algorithm search engines use isn’t constant or publicly available, but based on current understanding of the algorithm, here is a basic guide to increasing the chances of your website appearing higher in result pages.',
    slug: "getting-started-with-seo",
    tags: ["Web Design", "SEO"],
    hashtags: ["seo", "webdesign"],
    created: "2014-07-22"
}
---
<p class="post-content">
	Once you have a website up and ready-to-go, the next step is getting it noticed by search engines and the people using them. <strong>Search Engine Optimization (SEO)</strong> may seem like a daunting thing to undertake on your own, but there are some simple ways you can start increasing your visibility through your content and code. This is a large area of discussion with many different opinions, especially since the algorithm search engines use isn’t constant or publicly available, but based on current understanding of the algorithm, here is a basic guide to increasing the chances of your website appearing higher in result pages.
</p>

<h3>Create Good Content, Regularly</h3>

<p class="post-content">
	This seems like a given, but write and create high-quality content on a regular basis, and gear it towards the people viewing your site, not search engines.
</p>
<p class="post-content">
	<ul class="post-content indent">
		<li>
			Make sure content, including all media types, is <strong>easy-to-use, accessible, and fast-loading</strong>.
		</li>
		<li>
			Post on a <strong>regular basis</strong> - this is important for your users and for SEs. Focus on quality over quantity, as a rule.
		</li>
		<li>
			Have a <strong>clear navigation system</strong>: visual hierarchy, clear page structure, breadcrumbs for large sites, and cues to help users find their way around your site.
		</li>
		<li>
			Use <strong>keywords</strong> appropriately. This includes your page title, description, and content, as well as information like the purpose of each page.
		</li>
	</ul>
</p>
<p class="post-content">
	Although it’s important to make efforts that help SEs crawl your site, focus your efforts mainly on your audience, and you will naturally improve your visibility. People will return to your site for your awesome content, link to it in their social media platforms, and it will spread naturally through your users.
</p>

<h3>Social Media</h3>

<p class="post-content">
	Speaking of social media, make it easy for users to spread your content. Add buttons to your pages to share, like, and tweet, and finding a way to promote your content will be one less thing users have to do on their own. Be relatively selective about the platforms you use to promote your sites, instead of spreading yourself too thin over many social platforms.
</p>

<h3>Improving Your Code</h3>

<p class="post-content">
	Your code should be clean, valid, and properly tagged - but this is already the case, right? They are other concrete ways to make it easier for SEs to crawl your site.
</p>
<p class="post-content">
    <ul class="post-content indent">
        <li>
        	<strong>Title tag</strong>: search engine result pages (SERPs) display the first 70 characters of your title, so it should be unique, specific, and contain relevant keywords.
        </li>
        <li>
        	<strong>Header tags</strong>: use them to structure your pages like outlines. Your &#139;h1&#155; and the title tag of each page should match, and &#139;h2&#155;, &#139;h3&#155; etc. should be your sub-categories. This helps users scan your content, so it’s best not to overuse them and risk muddying your visual hierarchy.
        </li>
        <li>
        	<strong>Meta tags</strong>: make good use of them, especially the “description” tag. Each page should have a different description based on its content. The first 160 characters of meta descriptions also show up in social media results, so make sure they represent the content of their page.
        </li>
        <li>
        	<strong>Image tags</strong>: make sure to include an “alt” description for each imgage tag, both to help SEs read the tag, and for users who are unable to view the image.
        </li>
        <li>
        	<strong>NoFollow</strong>: in your &#139;a&#155; tags, including <a href="https://support.google.com/webmasters/answer/96569?hl=en" target="blank">rel=“nofollow”</a> to prevent SEs from associating your site with other websites. This is important if you have a comments section on your website, because including the nofollow attribute can help prevent comment spam.
        </li>
        </a>
    </ul>
</p>

<h3>Google Webmaster Tools and Analytics</h3>

<p class="post-content">
	I recently set up Webmaster Tools on my sites. Along with Google Analytics, this is a helpful tool for optimizing your sites, tracking user data, and understanding and improving your code. Webmaster Tools provides helpful video tutorials and links to other tools including <a href="http://schema.org/docs/full.html" target="blank">schema.org</a>, a collection of markups to include in your code to improve SEO. I’m still researching this, but there is a vast library of schemas to use, and information on making your site more visible to SEs. Google Analytics helps you see where your traffic is coming from, which can be beneficial in showing you where you efforts are paying off and deciding on which social media platforms to promote your work.
</p>
<p class="post-content">
	What SEO improvements would you recommend for new websites? Have you found that making small changes makes a difference in your overall visibility? <a href="http://twitter.com/alisenhazzard" target="blank">@alisenhazzard</a>
</p>