---
{
    title: "Google Web Fonts",
    description: "I just love using <a href='http://www.google.com/fonts' target='blank'>Google Fonts</a> to change the type when I'm designing a website.. Usually, I try to leave this until later in the process, because I get obsessed with switching between fonts, or I pick a font too early and it doesn’t represent the finished site and then have to go back and find a new one (sigh...)",
    slug: "google-web-fonts",
    tags: ["Web Design", "Typography"],
    created: "2014-07-09"
}
---
<p class="post-content">
	I just love using <a href='http://www.google.com/fonts' target='blank'>Google Fonts</a> to change the type when I'm designing a website.. Usually, I try to leave this until later in the process, because I get obsessed with switching between fonts, or I pick a font too early and it doesn’t represent the finished site and then have to go back and find a new one (sigh...)
</p>
<p class="post-content">
	I read somewhere that if you’re not so comfortable with web typography, pick only two fonts for your site. Starting out, this was a great tip for me as it narrowed down the options. I can’t have <em>all</em> the fonts, so I can pick my two favorites and then use the others for different projects.
</p>
<p class="post-content">
	I tend to go with the old stand-by: sans-serif for the headers and serif for the body text, and pick ones that have enough contrast without looking ridiculous.
</p>
<h3>Raleway</h3>
<img src="/static/build/img/blogimages/web-fonts/acpfont.gif" class="border-gray" alt="Google Web Font" />
<img src="/static/build/img/blogimages/web-fonts/raleway.gif" class="border-gray" alt="Google Web Font" />
<h3>Crimson Text</h3>
<img src="/static/build/img/blogimages/web-fonts/crimson.gif" class="border-gray" alt="Google Web Font" />
<p class="post-content">
	For my first website, I used Crimson Text for the body, and Raleway for the headers. I like the look of Raleway, and kept going back to it when I was looking through fonts; the “w” in particular is really great, and I love the full round curves of the lowercase “e” and “c”. The serif font, Crimson Text, was nice and easy to read, which was important. Also, I loved the italic version (even though I didn’t use it, to save on loading time).
</p>
<h3>Lato</h3>
<img src="/static/build/img/blogimages/web-fonts/dcfont.gif" class="border-gray" alt="Google Web Font" />
<img src="/static/build/img/blogimages/web-fonts/lato.gif" class="border-gray" alt="Google Web Font" />
<p class="post-content">
	It was also fun to play with fonts for <a href="http://dreamingca.com/" target="blank">Dreaming California</a>. Lato, a sans-serif font, was perfect for my header. It has a lovely shape for the curvy capitals in the title, “D” and “C”, and I also liked the traditional “g” instead of a sans-serif font that looked hand-drawn.
</p>
<h3>Questrial</h3>
<img src="/static/build/img/blogimages/web-fonts/questrial.gif" class="border-gray" alt="Google Web Font" />
<h3>Vollkorn</h3>
<img src="/static/build/img/blogimages/web-fonts/vollkorn.gif" class="border-gray" alt="Google Web Font" />
<p class="post-content">
	I’m also redesigning a blog, and using nice sturdy (ahem, manly) fonts: Vollkorn, serif; and Questrial, sans-serif. I really like how they look together on the site, readable and clean, and slightly modern-looking. For that site I’m also using small-caps for some of the text, and the sans-serif font is excellent in that font-variant.
</p>
<p class="post-content">
	So far I’ve tried to stay away from the decorative fonts, but I think it would be fun to design a site with one as the logo and use it (sparingly, of course) in other areas of the site. If you haven’t played with Google Fonts, you can sort them by many different things, test out your text as you go, and download them in different weights and styles to add to your code. It gives you pairing suggestions if you’re having trouble finding a font to use with it, and you can see beforehand the loading time for each font - faster page-loading FTW!
</p>
<p class="post-content">
	What are some of your favorite web fonts? <a href="http://twitter.com/alisenhazzard" target="blank">@alisenhazzard</a>
</p>