---
{
    title: "Illustrator Templates for Tracing",
    description: "One of my new favorite ways to use Illustrator is as a tracing tool. As a kid, I would trace coloring book pages for my friends so we could all color the same pictures together (<a href='https://www.google.com/search?q=lisa+frank&es_sm=91&source=lnms&tbm=isch&sa=X&ei=zCqbU9zGCZKqyATJ6YKoDg&ved=0CAgQ_AUoAQ&biw=1350&bih=713#q=lisa+frank+coloring+pages&tbm=isch&imgdii=_' target='blank'>Lisa Frank</a>, anyone?). Maybe I'm channeling my inner child, but it's a quick way to turn a photo or hand-drawn design into a graphic image. Cool, amirite?",
    slug: "illustrator-templates-for-tracing",
    tags: ["Illustrator"],
    created: "2014-06-12"
}
---
<p class="post-content">
	One of my new favorite ways to use Illustrator is as a tracing tool. As a kid, I would trace coloring book pages for my friends so we could all color the same pictures together (<a href="https://www.google.com/search?q=lisa+frank&es_sm=91&source=lnms&tbm=isch&sa=X&ei=zCqbU9zGCZKqyATJ6YKoDg&ved=0CAgQ_AUoAQ&biw=1350&bih=713#q=lisa+frank+coloring+pages&tbm=isch&imgdii=_" target="blank">Lisa Frank</a>, anyone?). Maybe I'm channeling my inner child, but it's a quick way to turn a photo or hand-drawn design into a graphic image. Cool, amirite?
</p>
<p class="post-content">
	First you open an image in Illustrator and fit it to your canvas size. Use the Selection Tool (V), and while holding Shift, scale the image down to the size you want.
</p>
<img src="/static/build/img/blogimages/tracing/template1.jpg" class="border-gray" alt="Photo of Alisen"/>
<p class="post-content">
	In the Layers panel, use the dropdown menu and select Template. This will make your layer transparent. Click to lock the first layer in place. Creat a new layer on top of it, and use one of the drawing tools to trace over the image. (I used the calligraphic brush tool with a 15% angle, 50% roundness, and a size of 1pt.)
</p>
<img src="/static/build/img/blogimages/tracing/template2.jpg" class="border-gray" alt="Photo with Illustrator tracing"/>
<p class="post-content">
	As you trace, you can toggle the visibility of the first layer to check your sketch and see where you need to add brushstrokes. I took some liberties with the background (no more cars, thankyouverymuch) and spent some time adding detail on the shirt and hair to give it some dimension. You can add more brushstrokes to make areas darker.
</p>
<img src="/static/build/img/blogimages/tracing/template3.gif" class="border-gray" alt="Illustrator Tracing"/>
<p class="post-content">
	I like using the brush tool, because it smoothes my lines as I go so I don't need to be too precise. You can also trace with the Blob Brush tool, which will turn your paths into shapes, or the Pencil tool, to make it look more like a hand-sketched graphic.
</p>
<p class="post-content">
	Have you done any tracing in Illustrator? Which techniques did you like the most?
	<a href="http://twitter.com/alisenhazzard" target="blank">@alisenhazzard</a>
</p>