---
{
    title: "National Noveling Writing Month, 2014",
    description: "<a href='http://nanowrimo.org' target='blank'>National Novel Writing Month (NaNoWriMo)</a> is an annual, self-motivated challenge to write 50 thousand words between November 1st and 30th. It’s organized by an awesome <a href='http://nanowrimo.org/about' target='blank'>non-profit group</a> that promotes writing in K-12 classrooms, provides materials for libraries, and hosts tons of write-a-thons and events for the community behind NaNoWriMo. It’s a great challenge if you like to write creatively, and the next round will start in just a few weeks.",
    slug: "nanowrimo-2014",
    tags: ["Writing"],
    hashtags: ["nanowrimo2014", "writing"],
    created: "2014-10-08"
}
---
<p class="post-content">
	<a href='http://nanowrimo.org' target='blank'>National Novel Writing Month (NaNoWriMo)</a> is an annual, self-motivated challenge to write 50 thousand words between November 1st and 30th. It’s organized by an awesome <a href='http://nanowrimo.org/about' target='blank'>non-profit group</a> that promotes writing in K-12 classrooms, provides materials for libraries, and hosts tons of write-a-thons and events for the community behind NaNoWriMo. It’s a great challenge if you like to write creatively, and the next round will start in just a few weeks.
</p>
<p class="post-content">
	I’ve participated in NaNoWriMo for the <a href="http://nanowrimo.org/participants/alisenpaige" target='blank'>past two years</a>, each time reaching the goal of 50 thousand words in one month. It was tough, I won’t lie, and it was particularly tough because it takes place in November, when I mostly want to cook, eat, and shop for Christmas presents. These are not things that contribute to the 1,667 words-per-day that you need to reach your goal. Combined with working retail (<em>never</em> again, particularly around the holidays) I’m still pretty pleased that I completed the challenge. This stands as the only serious writing I’ve done since college, and it felt good to have something to show post-degree. Nevermind that I haven’t looked at either project since I finished writing them - that’s a goal for another time - but the words are there, written.
</p>
<p class="post-content">
	Next month, I’m planning to start NaNoWriMo 2014 and write a third novel. But this year it’s different. I want to keep up my writing streak, but there are so many things to juggle in my professional life that it's harder this year to set my mind to. <a href="http://theapplecartproject.com/posts/the-start-of-something.html" target='blank'>Since June</a>, I’ve been learning and teaching myself various web design skills, front-end web development, WordPress admin knowledge, as well as taking on projects that I come across. Not to toot my own horn (just a little), but I’m proud of these new skills and projects and don’t want them to wither while I write a novel just for the heck of it.
</p>
<p class="post-content">
	I’m interested to know how other web professionals handle this type of situation, whether it’s accepting more projects than you think you'll have time for, starting side projects, or just trying to balance your interests and hobbies with larger goals. Is it just a matter of prioritizing?
</p>
<p class="post-content">
	If you've got a system for accomplishing your professional goals without spreading yourself too thin, I'd love to hear your tips!
</p>