---
{
    title: "Notes from the Great Swampy Middle",
    description: 'Recently I was introduced to some Jim Butcher articles on the craft of writing a novel, and &#8211; wouldn’t you know it! &#8211; it does help to pre-write and plan where you want you book to take you. It’s like walking my dog: I can let her lead, and go wherever she wants, but it’s easier to end up in the right place if I am the one making the decisions. Maybe that analogy is stretching it, but I think it can be benefical to call the shots on your novel, instead of it calling the shots for you.',
    slug: "notes-from-the-great-swampy-middle",
    tags: ["Writing"],
    hashtags: ["writing", "nanowrimo2014"],
    created: "2014-11-20"
}
---
<p class="post-content">
This is my third year writing a novel for <a href="http://nanowrimo.org" target="_blank">National Novel Writing Month</a> (NaNoWriMo), but my first year doing any sort of planning ahead of time.
</p>
<p class="post-content">
Recently I was introduced to some Jim Butcher articles on the craft of writing a novel, and &#8211; wouldn’t you know it! &#8211; it does help to pre-write and plan where you want you book to take you. It’s like walking my dog: I can let her lead, and go wherever she wants, but it’s easier to end up in the right place if I am the one making the decisions. Maybe that analogy is stretching it, but I think it can be benefical to call the shots on your novel, instead of it calling the shots for you.
</p>
<p class="post-content">
Now, in the third week of NaNoWriMo, in the point of my book which Butcher calls the “<a href="http://jimbutcher.livejournal.com/1865.html" target="_blank">Great Swampy Middle</a>,” I wanted to pass along some things that have helped me.
</p>

<h3>I. My Outlining Process</h3>

<p class="post-content">
If you are a fellow writer, chances are you know of <em>Gardeners vs. Architects</em>, <em>Planners vs. Pantsers</em>, or some other comparative to distinguish the two main types of writing styles: people who plan things out, and people who take their ideas as they come. As a self-proclaimed Pantser (ie. flying by the seat of my pants), I feel like outlines tend to suck the fun right out of writing. But, there are many different types of outlines, including some that still leave room for adventurous writing.
</p>
<p class="post-content">
Butcher’s articles on writing <a href="http://jimbutcher.livejournal.com/2647.html" target="_blank">Scenes</a> and <a href="http://jimbutcher.livejournal.com/2880.html" target="_blank">Sequels</a> were super helpful in showing me the way to outline effectively. Here’s an example:
</p>
<p class="post-content">
<strong>Scene: Rebecca and Hank find the missing box.</strong><br />
i. Point of View: Rebecca<br />
ii. Goal: to figure out how to unlock the box that they find in the cavern.<br />
iii. Conflict: Hank doesn’t want to open it, he thinks it would be dangerous and they should wait until they are back in a safe location to open the box.<br />
iv. Setback: <strong>No</strong>, Rebecca doesn’t find a way to open the box, <strong>and</strong> after a scuffle with Hank, the box tumbles down into the watery recesses of the cavern.
</p>
<p class="post-content">
<strong>Sequel:</strong><br />
i. Emotion: Rebecca is frustrated and angry at Hank, mad about the loss of the box, and furious with herself for being careless.<br />
ii. Logic: The box is too far to reach now, and they need to get to it soon.<br />
iii. Anticipation: If they climb down into the cavern, there could be slippery rocks, creatures they can’t see, and other dangers. If they don’t, they’ll never recover the box and all will be lost.<br />
iv. Choice: Hank will go down and try to retrieve the box, Rebecca will stay up and lower a branch down for him if he can’t get back up on his own.
</p>
<p class="post-content">
This will lead into the next scene, in the point of view of the character with the most to lose (probably Hank, since he’s the one risking it down in the ‘watery recesses of the cavern.’)
</p>
<p class="post-content">
This is just the basic way I structure almost every part of my novel: scene and sequel, scene and sequel. It’s based directly on Butcher’s techniques, but instead of planning out every detail, it just helps me see where I need to go and how to get there. Almost every day before I write, I look at the notes from the previous day and see where I left my characters, and it helps me find the next steps they’ll need to take.
</p>

<h3>II. My Writing Weakness</h3>

<p class="post-content">
This is something I’ve known about my writing style since college, and it’s taken me a good long time to break out of: I don’t like conflict. I don’t like my characters to be in bad situations, so I tend to muddle around in boring scenes where my characters do a lot of navel-gazing and self-reflection.
</p>
<p class="post-content">
(My focus in school was poetry, which I’ve come to believe is the reason for my propensity to navel-gaze. Poets do a lot of this, as well as detailed reflections of their memories and thoughts. Nothing against this, but it doesn’t seem to translate well into a novel-length work where stuff needs to happen).
</p>
<p class="post-content">
My solution: <strong>embrace conflict</strong>.
</p>
<p class="post-content">
Is the character thinking or reminiscing, attempting to find a solution while quietly pondering their life? Throw them into a terrible situation where they’re being tortured for that information! Draw it out of them, actively.
</p>
<p class="post-content">
Is the character sitting around, waiting for the action to come to them? Suddenly a swarm of bees invades their living room, driving them outside to find a solution!
</p>
<p class="post-content">
All of these boring, terrible lulls can be mitigated if you give the character something exciting to do, solve, or work toward. I know this isn’t a problem for everyone, but it’s been helpful for me to think of everything that can go wrong for my characters, and use it to propel them in the right direction.
</p>

<h3>III. Making it to The End</h3>

<p class="post-content">
The most helpful thing to keep me going this time around is having other mental stimulation. I haven’t sequestered myself away from the world so I can write without interruption. When I do, I get miserably bored with my story and characters. Who are these people that I’m spending hours with every day, listening to their problems? I don’t even like them! They’re weak, and flawed, and cliched, and awful!
</p>
<p class="post-content">
Well, step away. Read a book. Don’t let it get you down if the writing style is better than yours, if the characters are stronger and more realistic. <em>Use this!</em> Why do you like the story? What is the writer doing with their characters that makes you relate to them? How are they propelling their story forward?
</p>
<p class="post-content">
This month I read Octavia Butler’s <em>Wild Seed</em>. It blew my mind. The characters, the premise, and the language she used wer all wonderfully fresh to me. It was beautiful, strange, and most of all, thought-provoking. Since my book this year is in the science fiction genre, I also found it helpful to read a book of speculative fiction that I hadn’t read before. I took note of things she included, and also the things that she left out, examining them with the scope of my own book to see how they could help my writing style. All month, everything I read or watch has been beneath this lens, used as a tool to help me improve.
</p>
<p class="post-content">
There are still ten days left this month, and many thousands of words to write (including today&#8217;s words!) but I feel like my story is on-track, more so than my stories have been in the past. It’s great to find small kernels of truth about writing, even in the middle of everything.
</p>
<p class="post-content">
What inspires you to keep writing, and whose advice has brought you closer to 50,000 words?
</p>