---
{
    title: "Pixelated Image in Photoshop",
    description: "Here's a fun and quick effect in Photoshop - it uses only three layers and takes no time at all. I like it because you can adjust the size of the pixels and get different results, depending on how much of the original image you want to remain when you're done.",
    slug: "pixelated-image-in-photoshop",
    tags: ["Photoshop"],
    created: "2014-06-17"
}
---
<p class="post-content">
	Here's a fun and quick effect in Photoshop - it uses only three layers and takes no time at all. I like it because you can adjust the size of the pixels and get different results, depending on how much of the original image you want to remain when you're done.
</p>
<p class="post-content">
	Find an image that has good color contrast. The ones that have worked best for me have different colors, or a range of color, across the entire file. This was my starting image.
</p>
<img src="/static/build/img/blogimages/pixelated/pixel1.jpg" class="border-gray" alt="Image of Nature" />
<p class="post-content">
	Duplicate the layer twice (Command J). On the second layer select all (Command A), and go to Edit > Transform > Skew. Give the layer a horizontal skew of -45. Then go to Filter > Pixelate > Mosaic and select a pixel size. Next, go back to Skew and give the layer a horizontal skew of 45. Here's what you get.
</p>
<img src="/static/build/img/blogimages/pixelated/pixel3.jpg" class="border-gray" alt="Pixelated image of Nature" />
<p class="post-content">
	Repeat these steps on the top layer, but start with 45 degrees and end with -45 degrees. It will be hiding the bottom layer, so set the layer style to Screen. You can also adjust the opacity. Here is what the screen layer looks like, with the middle layer visabilty hidden.
</p>
<img src="/static/build/img/blogimages/pixelated/pixel2.jpg" class="border-gray" alt="Pixelated image of Nature" />
<p class="post-content">
	Turn on the visabilty for all three layers, and you have your end result. The layers will be slightly off-center from one another, so use the Move Tool (V) to shift one layer until they line up.
</p>
<img src="/static/build/img/blogimages/pixelated/pixel4.jpg" class="border-gray" alt="Pixelated image of Nature" />
<p class="post-content">
	What are some of your favorite quick photo manipulations in Photoshop?
	<a href="http://twitter.com/alisenhazzard" target="blank">@alisenhazzard</a>
</p>
<p class="post-content small-text">
	Check out the original tutorial for creating a pixel manipulating <a href="http://www.photoshoptutorials.ws/photoshop-tutorials/special-effects/quick-tip-create-triangle-pixelation-effect-photoshop/" target="blank">here</a>.
</p>