---
{
    title: "Skillcrush Webinar with Ada Birnir",
    description: 'My mornings usually start with a cup of coffee and <a href="https://news.layervault.com/">Designer News</a> (or Reddit, depending on how alert my brain is), and I love reading morning emails from the team at <a href="http://skillcrush.com">Skillcrush</a>. Skillcrush is a community for learning online, specifically in the technical field, and they send great emails like “Joining the Git Community” and “Tech Terms” of the day. Their <a href="http://skillcrush.com/blog/">blog</a> is filled with fun articles and helpful posts for ladies in tech.',
    slug: "skillcrush-webinar",
    tags: ["Web Design"],
    created: "2014-06-27"
}
---
<p class="post-content">
	My mornings usually start with a cup of coffee and <a href="https://news.layervault.com/">Designer News</a> (or Reddit, depending on how alert my brain is), and I love reading morning emails from the team at <a href="http://skillcrush.com">Skillcrush</a>. Skillcrush is a community for learning online, specifically in the technical field, and they send great emails like “Joining the Git Community” and “Tech Terms” of the day. Their <a href="http://skillcrush.com/blog/">blog</a> is filled with fun articles and helpful posts for ladies in tech.
</p>
<p class="post-content">
	This morning I sat in on a webinar hosted by CEO Adda Birnir on the <a href="http://skillcrush.com/2014/06/24/webinar-price-freelance-projects/">3 Phases of a Freelance Web Career</a>, which she summarized as Learning, Freelancing, and Consulting. The webinar centered around what it means to be in each of these stages throughout your career, how to build your network as you scale the ladder, and how to calculate your rate depending on your experience and knowledge. It was a fabulous discussion, and I came away with some great tips from Adda, who has been through the stages first-hand and was generous enough to share her knowledge with the Skillcrush community.
</p>
<p class="post-content">
    Here are some of my favorite points from the webinar:</p>
    <ul class="post-content indent">
        <li>In the learning phase, take on projects that are <strong>75% in your comfort zone and 25% out of it</strong>. Every project is an opportunity to expand  your skills, and in this phase you should focus on learning everything you can, whenever possible.</li>
        <li>When you move into the freelancing phase, the most important thing you can do it <strong>build your network</strong>. Clients can let the people in their network know how great it was to work with you, and you begin to establish your connections in the industry.</li>
        <li>Entering <strong>contests and hack-a-thons</strong> will also help expand your network, increase awareness of your work, and can help you meet people from companies and groups that can use your skills and abilities.</li>
    </ul>
<p class="post-content">
	Go check out the Skillcrush website if you haven’t been to it before, and also take a look at their Career Blueprint programs for in-depth learning for web development and design.
</p>