---
{
    title: "Three Cheers for Treehouse",
    description: 'I’ve been following the Web Design Track at <a href="http://teamtreehouse.com" target="blank">Treehouse</a>, which incorporates the fundamentals of CSS and HTML, and also introduces web design foundations, an intro to Photoshop and Illustrator, and SEO and Sass basics. The track is thorough, walking you through the process of designing a website from start to finish, including purchasing a domain name and hosting your website on a server.',
    slug: "three-cheers-for-treehouse",
    tags: ["Web Design"],
    hashtags: ["treehouse"],
    created: "2014-07-02"
}
---
<p class="post-content">
	I’ve been following the Web Design Track at <a href="http://teamtreehouse.com" target="blank">Treehouse</a>, which incorporates the fundamentals of CSS and HTML, and also introduces web design foundations, an intro to Photoshop and Illustrator, and SEO and Sass basics. The track is thorough, walking you through the process of designing a website from start to finish, including purchasing a domain name and hosting your website on a server.
</p>
<p class="post-content">
	The structure of the program is as flexible as you make it, with the option to stay on a single track (such as Web Design), or to watch videos on other topics that interest you. There are tracks like "Starting a Business” and “Front-End Web Development” and other specific tracks for Ruby on Rails, PHP, IOS, Android, and WordPress. Their comprehensive library has videos on mobile game design, using Google Analytics, presentations from web design conferences, and workshops on podcasting.
</p>
<p class="post-content">
	External resources are included for everything ranging from font services, grid-makers, and media queries, and there are quizzes and code challenges after the videos to test your knowledge. The user interaction is highly game-ified: points are awarded for progress (I’m currently sitting-pretty at 5000), badges for completing sections, and occasionally you get a “Reward Video”, with a  2-3 minute just-for-fun clip of the Treehouse teachers acting out silly story lines.
</p>
<p class="post-content">
	You do have to pay for a subscription to Treehouse, but it’s a great program if you’re serious about learning new skills or increasing your knowledge. Have you used Treehouse or another online course tool? What are your favorite resources? <a href="http://twitter.com/alisenhazzard" target="blank">@alisenhazzard</a>
</p>