{{ include _top.html }}

<div class="right-wrapper">
		<nav>
			<a href="/">Home</a>
			<a href="/blog">Blog</a>
		</nav>
		<div class="blog-header">
			<h1>Alisen Hazzard</h1>
			<h2 class="script blog-script">the Blog</h2>
		</div>
		
		<div class="clearfix"></div>




        {{ for(postIndex in posts){ }}
            {{// Possible fields: }}
            {{// title, slug, created, description, category, tags, timeToRead, content }}

            {{ post = posts[postIndex] }}

            <div class="post">
                <a href="/blog/{{- post.slug }}" title="{{- post.title }}">
                    <h3>{{- post.title }}</h3>
                </a>
                <h5>
                    {{- moment(post.created).format('MMMM Do, YYYY') }}
                </h5>
                <p class="post-content">Tags: 
                    {{ for(tagIndex in post.tags){ }}
                        <a href="/blog/tag/{{- post.tagsLower[tagIndex] }}" title="{{- post.tags[tagIndex] }}">
                            {{- post.tags[tagIndex] }}{{ if(tagIndex < post.tags.length-1){ }}, {{ } }}
                        </a>
                    {{ } }}
                </p>
                <p class="post-content">
                    {{- post.description }}
                </p>
                <a href="/blog/{{- post.slug }}" title="{{- post.title }}" class="keep-reading">
                    Keep reading
                </a>
            </div>
        {{ } }}

		<p class="copyright small-text">
			Copyright &copy; 2015 Alisen Hazzard
		</p>
	</div>

	<div class="left-wrapper">
		<div class="posts-wrapper">
			<h6 class="featured">Featured Posts</h6>

			<a href="portfolio-website-design-process.html"><h5>Portfolio Website Design Process</h5></a>

			<a href="installing-mamp-and-wordpress-locally.html"><h5>Installing MAMP and WordPress Locally</h5></a>

			<a href="blogposts/first-steps-to-developing-a-wordpress-theme.html"><h5>First Steps for Developing a WordPress Theme</h5></a>

			<a href="blogposts/getting-started-with-seo.html"><h5>Getting Started with Search Engine Optimization (SEO)</h5></a>

		</div>

		<div class="tag-wrapper">
			<h6 class="featured">Browse Tags</h6>
			<a href="#">CSS</a>
			<a href="#">Flexbox</a>
			<a href="#">HTML</a>
			<a href="#">Illustrator</a>
			<a href="#">JavaScript</a>
			<a href="#">Photoshop</a>
			<a href="#">SEO</a>
			<a href="#">Typography</a>
			<a href="#">Usability</a>
			<a href="tags.html">Web Design</a>
			<a href="#">Web Development</a>
			<a href="#">Wireframes</a>
			<a href="#">WordPress</a>
			<a href="#">Writing</a>
		</div>

		<!--<div class="light">
			<form>
				<span><input type="text" class="search" placeholder="Search..."></span>
			</form>
		</div>-->
	</div>

{{ include _bottom.html }}
