{{ include _top.html }}

{{ include blog-header.html }}

<div class="post-wrapper">
	<h1>{{- post.title }}</h1>
 
   <!--<div class="read-time small-text">
	    Time to read: {{- post.timeToRead }} minutes
	</div>-->

	 {{- post.content }}
</div>

<div class="tag-wrapper post-wrapper">
   <p class="post-content">Tagged in:
        {{ for(tagIndex in post.tags){ }}
            <a href="/blog/tag/{{- post.tagsLower[tagIndex] }}" title="{{- post.tags[tagIndex] }}">
                {{- post.tags[tagIndex] }}{{ if(tagIndex < post.tags.length-1){ }}, {{ } }}
            </a>
        {{ } }}
    </p> 



  <!-- Discuss -->
  <div id='disqus-wrapper'>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'alisenhazzard';
      
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


</div>



{{ include _bottom.html }}