{{ include _top.html }}

{{ include blog-header.html }}

<div class="post-wrapper">
	<h1>{{- post.title }}</h1>
 
   <!--<div class="read-time small-text">
	    Time to read: {{- post.timeToRead }} minutes
	</div>-->

	 {{- post.content }}
</div>

<div class="tag-wrapper post-wrapper">
   <p class="post-content">Tagged in:
        {{ for(tagIndex in post.tags){ }}
            <a href="/blog/tag/{{- post.tagsLower[tagIndex] }}" title="{{- post.tags[tagIndex] }}">
                {{- post.tags[tagIndex] }}{{ if(tagIndex < post.tags.length-1){ }}, {{ } }}
            </a>
        {{ } }}
    </p> 
</div>

{{ include _bottom.html }}