{{ include _top.html }}

{{ include blog-header.html }}

<div class="post-wrapper">
	<h1>{{- post.title }}</h1>
  <p class="small-text" style="text-align:right;">Posted on {{- moment(post.created).format('MMMM Do, YYYY') }} </p>
 
   <!--<div class="read-time small-text">
	    Time to read: {{- post.timeToRead }} minutes
	</div>-->

	 {{- post.content }}

</div>

<div class="tag-wrapper">
   <p class="tag-content">Tagged in:
        {{ for(tagIndex in post.tags){ }}
            <a href="/blog/tag/{{- post.tagsLower[tagIndex] }}" title="{{- post.tags[tagIndex] }}">
                {{- post.tags[tagIndex] }}{{ if(tagIndex < post.tags.length-1){ }} {{ } }}
            </a>
        {{ } }}
    </p>
    
    <div class="social-links">
        <a href="https://twitter.com/share" 
            class="twitter-share-button" 
            data-via="alisenhazzard" 
            title="Share on Twitter" 
            data-hashtags="{{- hashtags.join(',') }}"
            data-size="large">Tweet</a>
    </div>

    <div class="clearfix"></div>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>


  <!-- Discuss -->
  <div id='disqus-wrapper'>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'alisenhazzard';
      
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<p class="copyright small-text">
  Copyright &copy; 2015 Alisen Hazzard
</p>

</div>



{{ include _bottom.html }}
